<a href="https://colab.research.google.com/github/yoojinlee-hub/DALC_Scala/blob/main/Pandas_K-Mooc_%EA%B8%B0%EB%B3%B8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Pandas(pd)로 데이터 가공하기**


1.   파이썬 라이브러리
2.   1차원의 Series, 2차원의 DataFrame 제공

In [1]:
import pandas
pandas.__version__

'1.1.5'

In [2]:
import numpy as np
import pandas as pd

**series** : 데이터가 순차적으로 나열, 인덱스와 일대응 대응됨/일차원/정수가 아니어도 됨

**DataFrame**: 2차원배열구조, 행/열로 구성, 여러개의 시리즈가 모여 구성된 구조
각 열이 시리즈를 나타냄, 여러개의 열 벡터들이 순서대로 결합됨-2개 주소 사용(행 인덱스,열 이름)

In [4]:
data = pd.Series([0.25,0.5,0.75,1.0])
data

0    0.25
1    0.50
2    0.75
3    1.00
dtype: float64

In [5]:
data.values
data.index

RangeIndex(start=0, stop=4, step=1)

In [6]:
data[1:3]

1    0.50
2    0.75
dtype: float64

In [7]:
index=['a','b','c','d']

In [8]:
data[2]

0.75

**딕셔너리 구조**


*   일련의 임의의 값에 임의의 키를 매핑
*   타입이 지정된 키를 일련의 타입이 지정된 값에 매핑

K는 Series의 인덱스.V는 데이터값

In [11]:
population_dict = {
    'California': 38332521,
    'Texas':26448393,
    'New York':19651127,
    'Florida':19552860,
    'Illinois':12882135
}
population = pd.Series(population_dict)
population

California    38332521
Texas         26448393
New York      19651127
Florida       19552860
Illinois      12882135
dtype: int64

In [12]:
population['California':'Illinois']

California    38332521
Texas         26448393
New York      19651127
Florida       19552860
Illinois      12882135
dtype: int64

겍체 구성하기 : pd.Series(data,index=index)
index는 생략가능

In [13]:
pd.Series([2,4,6])

0    2
1    4
2    6
dtype: int64

In [14]:
pd.Series(5, index=[500,600,700])

500    5
600    5
700    5
dtype: int64

In [15]:
dic_data={2:'a',1:'b',3:'c'}
dic_data

{1: 'b', 2: 'a', 3: 'c'}

오름차순으로 출력

In [17]:
pd.Series({2:'a',1:'b',3:'c'})

2    a
1    b
3    c
dtype: object

순서 그대로 출력

**Data Frame**
2차원 배열
열 인덱스 : 열 이름
데이터프레임: 행 인덱스와 열 이름을 갖는 행렬/Seires 객체의 연속

In [18]:
area_dict = {
    'California': 38332521,
    'Texas':26448393,
    'New York':19651127,
    'Florida':19552860,
    'Illinois':12882135
}
area = pd.Series(area_dict)
area

California    38332521
Texas         26448393
New York      19651127
Florida       19552860
Illinois      12882135
dtype: int64

In [19]:
states = pd.DataFrame({'population':population, 'area':area})
states

            population      area
California    38332521  38332521
Texas         26448393  26448393
New York      19651127  19651127
Florida       19552860  19552860
Illinois      12882135  12882135

In [20]:
states.index

Index(['California', 'Texas', 'New York', 'Florida', 'Illinois'], dtype='object')

In [24]:
states.columns

Index(['population', 'area'], dtype='object')

In [27]:
states['area']

California    38332521
Texas         26448393
New York      19651127
Florida       19552860
Illinois      12882135
Name: area, dtype: int64

In [28]:
pd.DataFrame(population, index=['Texas'], columns=['population'])

       population
Texas    26448393

누락된 자리는 NaN값으로 채움

In [29]:
pd.DataFrame([{'a':1,'b':2},{'b':3,'c':4}])

     a  b    c
0  1.0  2  NaN
1  NaN  3  4.0

In [30]:
pd.DataFrame(np.random.rand(3,2),
             columns=['foo','bar'],
             index=['a','b','c'])

        foo       bar
a  0.177544  0.494532
b  0.094701  0.844631
c  0.098002  0.189565

**Index 객체**

불변의 값 - 안전하게 사용하고 공유가능

In [31]:
ind = pd.Index([2,3,5,7,11])
ind

Int64Index([2, 3, 5, 7, 11], dtype='int64')

In [32]:
ind[::2]

Int64Index([2, 5, 11], dtype='int64')

In [33]:
print(ind.size, ind.shape, ind.ndim)

5 (5,) 1

집합연산

In [35]:
indA = pd.Index([1,3,5,7,9])
indB = pd.Index([2,3,5,7,11])
indA & indB #교집합

Int64Index([3, 5, 7], dtype='int64')

In [36]:
indA | indB #합집합

Int64Index([1, 2, 3, 5, 7, 9, 11], dtype='int64')

In [37]:
indA ^ indB #두 집합의 상대 여집합의 합

Int64Index([1, 2, 9, 11], dtype='int64')

**인덱서**

1.   loc (인덱스 이름. 범위 지정 가능)
2.   iloc (정수형)

In [38]:
data = pd.Series([0.28,0.5,0.75,1.0],index=['a','b','c','d'])
data

a    0.28
b    0.50
c    0.75
d    1.00
dtype: float64

In [39]:
data.loc['a']

0.28

In [40]:
data.iloc[1]

0.5

In [43]:
import pandas as pd
area = pd.Series({'California': 38332521,
    'Texas':26448393,
    'New York':19651127,
    'Florida':19552860,
    'Illinois':12882135})
pop = pd.Series({'California': 38332521,
    'Texas':26448393,
    'New York':19651127,
    'Florida':19552860,
    'Illinois':12882135})
data = pd.DataFrame({'area':area,'pop':pop})
data

                area       pop
California  38332521  38332521
Texas       26448393  26448393
New York    19651127  19651127
Florida     19552860  19552860
Illinois    12882135  12882135

In [44]:
data['area']

California    38332521
Texas         26448393
New York      19651127
Florida       19552860
Illinois      12882135
Name: area, dtype: int64

In [45]:
data.area

California    38332521
Texas         26448393
New York      19651127
Florida       19552860
Illinois      12882135
Name: area, dtype: int64

딕셔너리 명령어-객체 변경

In [ ]:
states['density'] = states['pop'] / states['area']
states

In [50]:
states.values

array([[38332521, 38332521],
       [26448393, 26448393],
       [19651127, 19651127],
       [19552860, 19552860],
       [12882135, 12882135]])

In [51]:
states.T

            California     Texas  New York   Florida  Illinois
population    38332521  26448393  19651127  19552860  12882135
area          38332521  26448393  19651127  19552860  12882135

In [53]:
states.values[0]

array([38332521, 38332521])

**Data Frame**

In [ ]:
states.iloc[:3.:2]

**pandas 산술연산**

In [61]:
student = pd.Series({'국어':96, '영어':90, '수학':80})
p_student = student / 100 
p_student

국어    0.96
영어    0.90
수학    0.80
dtype: float64

In [62]:
student1 = pd.Series({'국어':96, '영어':90, '수학':80})
student2 = pd.Series({'국어':56, '영어':70, '수학':95})
avg_student = (student1 + student2) / 2
avg_student

국어    76.0
영어    80.0
수학    87.5
dtype: float64

*인덱스가 서로 다른 경우에도 적용됨*

+ add
- sub
* mul
/ div
NAN fill_value=0

In [63]:
student1 = pd.Series({'국어':96, '영어':np.nan, '수학':80})
student2 = pd.Series({'영어':70, '수학':95})
sum_student = student1.add(student2, fill_value=0)
sum_student

국어     96.0
수학    175.0
영어     70.0
dtype: float64

In [65]:
music = pd.Series({'s1':96,'s2':98,'s3':85})
music

s1    96
s2    98
s3    85
dtype: int64