<a href="https://colab.research.google.com/github/yoojinlee-hub/DALC_Scala/blob/main/Pandas_%EC%8B%AC%ED%99%94_KMOOC.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Pandas 심화 실습**


*   외부에서 파일 읽기
*   외부에 파일을 쓰기

*   데이터 프레임 구조
*   통계 함수

*csv 파일*

---


텍스트 데이터 및 텍스트 파일
각 열을 쉼표 혹은 공배개으로 구분.모든 행을 나열
//파일 열기 read_csv
//해당 파일을 읽어서 데이터 프레임으로 만듬

In [ ]:
to_csv()

In [19]:
import pandas as pd
rc = pd.read_csv('/content/drive/MyDrive/일별평균대기오염도_2019.csv',header = None, encoding='euc-kr')

In [21]:
print(rc.head())
print('Wn')
print(rc.tail())

          0     1             2  ...           5          6           7
0      측정일시  측정소명  이산화질소농도(ppm)  ...  아황산가스(ppm)  미세먼지(㎍/㎥)  초미세먼지(㎍/㎥)
1  20190101   강남구         0.028  ...       0.005         37          31
2  20190101  강남대로         0.041  ...       0.004         40          28
3  20190101   강동구          0.04  ...       0.005         43          32
4  20190101  강변북로         0.048  ...       0.005         45          27

[5 rows x 8 columns]
Wn
              0     1      2      3    4      5   6   7
17071  20191231  청계천로  0.016  0.023  0.4  0.003  24  17
17072  20191231  한강대로   0.02  0.018  0.4  0.003  27  12
17073  20191231    행주  0.007  0.028  0.6  0.004  27  13
17074  20191231   홍릉로  0.025  0.018  0.5  0.004  27  16
17075  20191231   화랑로  0.019   0.02  0.2  0.004  20  13

head()함수,tail()함수: 기본값 5, 데이터프레임의 일부 행을 반환

데이터프레임:행의 개수,열의 개수를 튜플로 반환

In [23]:
print(rc.shape)

(17076, 8)

info() 데이터 프레임의 기본정보

In [24]:
print(rc.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17076 entries, 0 to 17075
Data columns (total 8 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       17076 non-null  object
 1   1       17076 non-null  object
 2   2       16602 non-null  object
 3   3       16674 non-null  object
 4   4       16586 non-null  object
 5   5       16608 non-null  object
 6   6       16489 non-null  object
 7   7       16493 non-null  object
dtypes: object(8)
memory usage: 1.0+ MB
None

In [25]:
print(rc.dtypes)

0    object
1    object
2    object
3    object
4    object
5    object
6    object
7    object
dtype: object

describe(): 숫자 데이터를 갖는 열에 대해 주요 통계 정보 요약 출력

In [27]:
print(rc.describe())

               0      1      2      3      4      5      6      7
count      17076  17076  16602  16674  16586  16608  16489  16493
unique       357     51    108     91     35     18    206    153
top     20190609    동작구  0.021   0.02    0.4  0.004     26     20
freq          50    356    443    498   3272   5509    403    654

count() 데이터 프레임의 각 열이 갖고 있는 요소 개수를 시리즈 객체로 반환

In [28]:
print(rc.count())

0    17076
1    17076
2    16602
3    16674
4    16586
5    16608
6    16489
7    16493
dtype: int64

value_counts() 고유값은 행 인덱스, 고유값의 개수는 데이터 값이 되는 시리즈 객체 생성

mean() 산술데이터를 갖는 모든 열의 평균값 계산

In [35]:
print(rc.mean())

Series([], dtype: float64)

In [ ]:
print(rc[1],mean())

median() 중간값 계산

max() 최대값 계산
*print(rc.max())*

min() 각 열이 갖는 데이터 값 중에서 최소값 계산

std() 표준편차 계산

In [39]:
import pandas as pd
rc = pd.read_csv('/content/drive/MyDrive/일별평균대기오염도_2019.csv',header = None, encoding='euc-kr')
print(rc.std())

Series([], dtype: float64)

corr() 모든 열의 대해 2개씩 짝을 짓고 각 경우의 상관계수 계산